/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
  height: 65px;
  background-color: #1c3667;
}

.header-box {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-tite a {
  font-size: 23px;
  font-weight: 100px;
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.8px;
}

.header-right-btn  a {
  font-size: 16px;
  height: 32px;
  width: 80px;
  border: 1px solid;
  text-decoration: none;
  color: #3a3736;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}
